<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Friend Shop</title>
    @* <link rel="stylesheet" type="text/css" href="/Content/TemplateCss/styles/bootstrap4/bootstrap.min.css"> *@
    <link href="/Content/TemplateCss/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/Content/TemplateCss/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Content/TemplateCss/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/Content/TemplateCss/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/Content/TemplateCss/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/Content/TemplateCss/styles/responsive.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top " style="border:1px red">
        <div class="container"> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><span style="color: green">SH@N</span><span style="color: red; margin: 0;">Shop</span></a>
            </div>

            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    @Html.Action("PagesMenuPartial", "Pages");
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/account/logout">Logout</a></li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <li class="active"><a href="/account/login">Login</a></li>
                        }
                        else
                        {
                            <li><a href="/account/login">Login</a></li>
                        }
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        if (ViewBag.Title == "User Profile" || ViewBag.Title == "Orders")
                        {
                            <li class="active">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                        }
                        else
                        {
                            <li>@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                        }
                    }
                </ul>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <ul class="navbar-collapse collapse navbar-right adminarea">
                        <li>@Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null) </li>
                    </ul>
                }
                else
                {
                    if (ViewBag.Title != "Cart Details")
                    {
                        <ul class="navbar-collapse collapse navbar-right">
                            @Html.Action("CartPartial", "Cart")
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="super_container" style="padding-top: 50px;">
        <div class="row">
            <div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>

            @if (ViewBag.Title == "User Profile")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/orders">My Orders</a></li>
                    </ul>
                </div>
            }
            @if (ViewBag.Title == "Orders")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/user-profile">My Profile</a></li>
                    </ul>
                </div>
            }
            <div class="" style="width: 100%">
                @RenderBody()
            </div>
            <div class="">
                @{
                    Html.RenderPartial("NewArrivalPartial");
                }
            </div>
        </div>
        <hr />
        <footer class="card-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="/">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 flex-md-row-reverse">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_nav_container">
                            <div class="cr ">   @DateTime.Now.Year -&copy; All Right Reserved.This is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <span style="color: green">SH@N</span><span style="color: red;"> Shop</span>  </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div> 
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    <script src="/Content/TemplateCss/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/TemplateCss/styles/bootstrap4/popper.js"></script>
    <script src="/Content/TemplateCss/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/Content/TemplateCss/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/Content/TemplateCss/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/Content/TemplateCss/plugins/easing/easing.js"></script>
    <script src="/Content/TemplateCss/js/custom.js"></script>
</body>
</html>
